<script id="searchResultTemplate" type="text/html">
    {{#nodes}}<li><a href="#" data-node-resource-url="{{self}}" class="urb-node">{{data.name}}</a>{{/nodes}}
</script>

<script id="componentTemplate" type="text/html">
    <div id="displayNode">
        <h4><a href="#" data-node-resource-url="{{self}}" class="urb-node">{{data.name}}</a></h4>
        <ul class="unstyled">
            <li>name:{{data.name}}</li>
            <li>filename:{{data.filename}}</li>
            <li>type:{{data.type}}</li>
        </ul>
    </div>
</script>

<script id="incomingComponentRelationshipsTemplate" type="text/html">
    <div id="incomingComponentRelationships">
        <h4>{{relationshipsSize}} incoming relation(s)</h4>
        <table class="table table-condensed" id="incomingRelationshipsNodes">
            <tbody>
            {{#relationships}}
                <tr>
                    <td><a href="#" data-node-resource-url="{{node.self}}" class="urb-node">{{node.data.name}}</a></td>
                    <td><input type="button" class="btn-mini btn-info urb-relationships" data-node-resource-url="{{node.self}}" data-node-focus="{{focusNode}}" value="({{relationCount}})"></td>
                </tr>
            {{/relationships}}
            </tbody>
        </table>
    </div>
</script>

<script id="outgoingComponentRelationshipsTemplate" type="text/html">
    <div id="outgoingComponentRelationships">
        <h4>{{relationshipsSize}} outgoing relation(s)</h4>
        <table class="table table-condensed" id="outgoingRelationshipsNodes">
            <tbody>
            {{#relationships}}
                <tr>
                    <td><input type="button" class="btn-mini btn-info urb-relationships" data-node-resource-url="{{node.self}}" data-node-focus="{{focusNode}}" value="({{relationCount}})"></td>
                    <td><a href="#" data-node-resource-url="{{node.self}}" class="urb-node">{{node.data.name}}</a></td>
                </tr>
            {{/relationships}}
            </tbody>
        </table>
    </div>
</script>

<script id="methodsTemplate" type="text/html">
    <div id="methodsList">
        {{#relationships}}
        <h5>{{type}}</h5>
        <ul class="unstyled">
            {{#relations}}
                <li class="urb-method">{{.}}
            {{/relations}}
        </ul>
    {{/relationships}}
    </div>
</script>
